body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.all {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.all:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#minute, #second, #millisecond {
    display: inline-block;
    width: 60px;
    text-align: center;
}

.btn {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

#startBtn {
    background-color: #4e4e4e;
    color: white;
}

#stopBtn {
    background-color: #4e4e4e;
    color: white;
}

#resetBtn {
    background-color: #4e4e4e;
    color: white;
}

button:hover {
    opacity: 0.9;
}